<h2>Single DIRECTOR:</h2>
<p>Name: {{model.name}}</p>
<p>Age: {{model.age}}</p>
<p>Movies:</p>
<ul>
  {{#each model.movies as |movie|}}
    <li>
      {{#link-to 'movies.movie' movie.id}}
        {{movie.title}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>