<h2>EDIT movie: {{model.title}}</h2>

<form {{action 'updateMovie' model on="submit"}}>
  <p>
    <label>Title:</label>
    {{input type="text" value=model.title}}
  </p>
  <p>
    <label>Year:</label>
    {{input type="number" value=model.year}}
  </p>
  <input type="submit">
</form>